jeux {
    background-color: #cdcdcd;
}
jeu,
nom,
développeur,
année,
consoles,
critiques,
critique,
résumé,
auteur {
    display: block;
}
jeu {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}
nom {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}
jeu[type="RPG"] nom {
    background-color: #ffd700;
}
jeu[type="RTS"] nom {
    background-color: #009900;
}
jeu[type="FPS"] nom {
    background-color: #a90000;
}
développeur {
    font-style: italic;
    margin: 5px 0 10px;
    text-align: center;
}
année {
    border-color: #000;
    border-style: solid;
    border-width: 1px 0;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}
consoles {
    background-color: #cdcdcd;
    border-radius: 10px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    width: 500px;
}
console:not(:first-child)::before {
    content: ' || ';
}
critiques {
    background-color: #edede1;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}
critique {
    background-color: #fff;
    margin: 10px 50px;
    padding: 10px;
    text-align: center;
}
résumé {
    font-size: 16px;
    font-weight: 700;
}
critique[note="8"] résumé,
critique[note="9"] résumé,
critique[note="10"] résumé {
    color: #009900;
}
critique[note="7"] résumé,
critique[note="6"] résumé {
    color: #a2c330;
}
critique[note="5"] résumé,
critique[note="4"] résumé {
    color: #c3902f;
}
critique[note="3"] résumé,
critique[note="2"] résumé {
    color: #c34c12;
}
critique[note="1"] résumé,
critique[note="0"] résumé {
    color: #dd0000;
}
auteur {
    font-size: 12px;
    font-style: italic;
}